<div class="formTitle">
    Register For Free!
</div>

<form>
    <div class="form-group">
        <label for="exampleFormGender">I am</label>
        <select class="form-control" id="exampleFormGender">
          <option selected>Visitor Type...</option>
          <option value="1">Visitor</option>
          <option value="2">Shop Owner</option>
        </select>
      </div>
    <div class="form-group">
        <label for="exampleFirstName">First Name</label>
        <input type="text" class="form-control" id="exampleFirstName" >
        <small class="form-text text-muted">Input your first name.</small>
    </div>
    <div class="form-group">
        <label for="exampleLastName">Last Name</label>
        <input type="text" class="form-control" id="exampleLastName" >
        <small class="form-text text-muted">Input your last name.</small>
    </div>
    <div class="form-group">
        <label for="exampleFormGender">Gender</label>
        <select class="form-control" id="exampleFormGender">
          <option selected>Gender...</option>
          <option value="1">He</option>
          <option value="2">She</option>
          <option value="3">Others</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleEmail">Email address</label>
        <input type="email" class="form-control" id="exampleEmail" placeholder="name@example.com">
      </div>

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>