<div class="container">



    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Add New Shop</h1>
            <p class="lead">Grow your customer base and business with us for free. Add your shop NOW to receive new
                business leads!</p>
        </div>
    </div>

    <form #newShop="ngForm" (ngSubmit)="addNewShop(newShop.value)">

        <div class="form-group">
            <input type="text" name="ShopOwner"  [(ngModel)]="shopOwner" class="form-control" readonly>
        </div>

        <div class="form-group">
            <input type="text" name="shopName" placeholder="Shop Name..." [(ngModel)]="shopName" class="form-control" required>
        </div>



        <div class="form-group">
            <input type="text" class="form-control" name="address1" placeholder="1234 Main St" [(ngModel)]="address1" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="address2" placeholder="Apartment, studio, or floor"
                [(ngModel)]="address2" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="city" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="state" placeholder="State" [(ngModel)]="state" required>
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" name="pincode" placeholder="Pincode" [(ngModel)]="pincode" required>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="services1"
                placeholder="Add business services (seperated by comma ( , ))" [(ngModel)]="services1" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="services2"
                placeholder="Add more business services (seperated by comma ( , ))" [(ngModel)]="services2" required>
        </div>
        <div class="form-group">

            <textarea class="form-control" name="description" rows="4" placeholder="Shop description..."
                [(ngModel)]="description" required></textarea>
        </div>


        <div class="form-group">
            <label for="exampleFormControlFile1">Shop Picture</label>
            <input type="file" class="form-control-file" name="shopPicture" [(ngModel)]="shopPicture"
                accept="image/x-png,image/jpeg">
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
              <button class="btn btn-success btn-lg btn-block" [disabled]="!newShop.valid">Add Shop</button>
            </div>
            <div class="form-group col-md-1">
                
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-secondary btn-lg btn-block" (click)="resetShopForm()">Reset Shop</button>
            </div>
        </div>

    </form>
</div>